################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1Start/.vs/Lab1Start/v15
/Lab1Start/.vs/LabsOOP_Patterns/v15
